.chat { 
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4);
  
  padding: var(--gap-3);
  overflow-y: auto;
}

.message__other {
  display: flex;
  align-items: center;
  align-self: flex-start;

  gap: var(--gap-3);
  background: var(--color-gray);
}

.message__other img {
  width: 48px;
  height: 48px;

  border-radius: 24px;
}

.message__self,
.message__other {
  padding: var(--gap-3);
  border-radius: 4px;
}

.message__self {
  display: flex;
  align-items: center;
  align-self: flex-end;

  background: var(--color-white);
  gap: var(--gap-3);
}

.message__details span {
  text-transform: capitalize;
}

.message__self span {
  text-align: right;
}

.message__self img {
  width: 48px;
  height: 48px;

  border-radius: 24px;
}

.message__details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.message__details span {
  font-size: var(--size-lg);
  font-weight: bold;
}

.message__details p {
  max-width: 400px;
  font-size: var(--size-md);
}