.chat__form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  padding: 0 var(--gap-2);
}

.chat__input {
  width: 100%;
  font-size: var(--size-lg);

  border: none;
  border-radius: 4px;
  padding: 1.2rem .8rem;

  background: var(--color-gray);
}

.chat__input:focus {
  outline: 1px solid var(--color-purple);
}

.chat__button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 3rem;
  
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  opacity: 0.9;

  background: var(--color-purple);
}

.chat__button:hover {
  opacity: 1;
}

.chat__button:disabled {
  background: var(--color-gray);
}

@media (min-width: 768px) {
  .chat__button {
    width: 3.4rem;
  }

  .chat__input {
    flex: 1;
    width: 100%;
  }
}