.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: var(--gap-4);
  padding: var(--gap-3);

  color: var(--color-white);
  background: rgb(43,37,118);
  background: linear-gradient(180deg, rgba(43,37,118,1) 0%, rgba(85,71,156,1) 100%);
}