.header {
  width: 100%;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--color-purple);
}

.header__container {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.2rem 1.2rem;

  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  
  transition: all 0.4s;
  color: white;
}

.header__logo:hover {
  cursor: pointer;

  opacity: 0.8;
}

.header__logo span {
  font-weight: bold;
}

.header__links {
  display: flex;
  align-items: center;
  gap: var(--gap-4);
}

.header__links a {
  text-transform: uppercase;
  font-size: var(--size-base);

  transition: all 0.4s;
  color: white;
}

.header__links a:hover {
  opacity: 0.8;
  text-decoration: underline;
}